[submodule "dependencies/glfw"]
	path = dependencies/glfw
	url = git@github.com:glfw/glfw.git
[submodule "dependencies/imgui"]
	path = dependencies/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "dependencies/implot"]
	path = dependencies/implot
	url = git@github.com:epezent/implot.git
